<div class="container-fluid jumbotron">
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">Major(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Major 1</td>
                    </tr>
                    <tr>
                        <td>Major 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4"><img src="http://placehold.it/450x350?text=picture+or+video" class="img-rounded img-responsive center-block" alt="Cinque Terre"></div>
        <div class="col-sm-4">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">Minor(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Minor 1</td>
                    </tr>
                    <tr>
                        <td>Minor 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1 class="text-center">First Last</h1>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
            <h3>Club <small>Office</small></h3>
        </div>
        <div class="col-sm-4"></div>
    </div>

</div>
